@using QLBanHang_ASP.Net.Models;
@model KhachHang


<style>
    .w3l-loginblock {
        background-color: black;
        position: fixed;
        top: 5%;
        left: 30%;
        width: 40%;
        margin: auto;
        background-color: rgba(0,0,0,.9);
        z-index: 99;
        border-width: 0px;
        border-style: solid;
        border-color: aqua;
    }

    .modal-content {
        border-width: 0px;
        padding: 0px;
    }
</style>

<script type="text/javascript">
    $(".w3l-loginblock").fadeIn(3000);
</script>

<div class="w3l-loginblock signinform">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-body-sub_agile">
            <div class="modal_body_left modal_body_left1">
                <h3 class="agileinfo_sign">Đăng nhập </h3>
                @using (Html.BeginForm())
                {
                    <div class="styled-input agile-styled-input-top">
                        @Html.TextBox("SDT")
                        <label>Số điện thoại</label>
                        <span></span>
                    </div>
                    <div class="styled-input">
                        @Html.Password("MatKhau")
                        <label>Mật khẩu</label>
                        <span></span>
                    </div>
                    <input type="submit" value="Đăng nhập">
                }
                <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                    <li>
                        <a href="#" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                @Html.ActionLink("Tạo tài khoản","CreateAccount","Login")"

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //Modal content-->
</div>