<div class="top_nav_right">
    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
          
        <form action="#" method="post" class="last">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="display" value="1">
            <a href="@Url.Action("XemGioHang","Cart")">
                <img src="~/Content/images/gh1.png" / style="height:42px">

            </a>
            (<span>@ViewBag.TongSoLuong</span> sp)
        </form>

    </div>
</div>
