@using QLBanHang_ASP.Net.Models;
@model IEnumerable<SanPham>


<div class="css-treeview">
    <h4>Loại sản phẩm</h4>
    <ul class="tree-list-pad">
        @foreach (var groupItem in Model.GroupBy(n => n.LoaiSanPham))
        {

            <li><a href="mens.html">@groupItem.Key.TenLoai</a></li>
            
        }

    </ul>
</div>
